<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Raspberry Pi CPU Usage</title>
    </head>
    <body>
        <h1>Raspberry Pi CPU Usage, v{{ VERSION }}</h1>
        <p>
            CPU usage = {{ cpu_percent }}% as at {{ current_datetime_str }}
        </p>
        <p><a href="/">Refresh</a></p>
    </body>
</html>
